.ChatLabel {
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.ChatLabel .profile_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ChatLabel .descriptionContainer {
    display: flex;
    flex-direction: row;
}

.ChatLabel .contact_name {
    font-weight: bold;
}
