.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;

}

.Profile .logout_btn {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: rgb(165, 160, 160);
    outline: none;
    background: none;
}

.Profile .logout_btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Profile .profile_img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 5rem;
}

.Profile .edit_profile_btn {
    width: 6rem;
    height: 3.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc;
    text-decoration: none;

}

.Profile .edit_profile_btn svg {
    width: 3rem;
    height: 3rem;

}

